
<%= render 'shared/errors', obj: @enrollment %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @enrollment do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
      
      <%= f.label :dob %>
      <%= f.text_field :dob %>
      
      <%= f.label :suburb %>
      <%= f.text_field :suburb %>
      
      <%= f.label :address %>
      <%= f.text_field :address %>
      
      <%= f.label :telephone %>
      <%= f.text_field :telephone %>
      
      <%= f.label :post_code %>
      <%= f.text_field :post_code %>
      
      <%= f.label :occupation %>
      <%= f.text_field :occupation %>
      
      <%= f.label :exercise %>
      <%= f.select(:exercise, options_for_select([['Never', 'Never'], ['Light 1-2 times', 'Light 1-2 times'],
      ['Moderate 3-4 times', 'Moderate 3-4 times'], ['Competitive 5-7 times', 'Competitive 5-7 times']])) %>
      
      <strong>Reference: </strong>
      <%= f.collection_check_boxes :reference_ids, Reference.all, :id, :name do |cb| %>
        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
      <% end %>
      <br><br>
      
      <strong>Preference: </strong>
      <%= f.collection_check_boxes :preference_ids, Preference.all, :id, :name do |cb| %>
        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
      <% end %>
      <br><br>
      
      <%= f.label :past_medical_history %>
      <%= f.text_area :past_medical_history, rows: 5 %>
      
      <%= f.label :medication %>
      <%= f.text_area :medication, rows: 5 %>
      
      <%= f.label :symptoms %>
      <%= f.text_area :symptoms, rows: 5 %>
      
      <%= f.submit(@enrollment.new_record? ? 'Create Enrollment' : 'Edit Enrollment', class: "btn btn-success") %>
      
    <% end %> 
  </div>
</div><br><br><br><br><br><br>
