
<%= render 'shared/errors', obj: @enrollment %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2" id="clientform">
    <%= form_for @enrollment do |f| %>
      
        
          <%= f.label "First Name" %>
          <%= f.text_field :name %>
        
        
       
          <%= f.label :last_name %><br>
          <%= f.text_field :last_name %><br>
       
        
      
     
      
        
        <%= f.label "Date of Birth" %>
        <%= f.text_field :dob, placeholder: "Date of birth ex: 12/12/1980" %>
        
        
        
          <%= f.label :suburb %>
          <%= f.text_field :suburb %>
      
          <%= f.label :address %>
          <%= f.text_field :address %>
       
        
        
          <%= f.label "Phone Number" %>
          <%= f.text_field :telephone, placeholder: "ex: 0421813629" %>
       
      
          <%= f.label :post_code %>
          <%= f.text_field :post_code %>
       
        
       
          <%= f.label :occupation %>
          <%= f.text_field :occupation %>
        
        
          <%= f.label "Exercise Routine" %>
          <%= f.select(:exercise, options_for_select([['Never', 'Never'], ['Light 1-2 times', 'Light 1-2 times'],
          ['Moderate 3-4 times', 'Moderate 3-4 times'], ['Competitive 5-7 times', 'Competitive 5-7 times']])) %>
       
        
        
          <%= f.label "Private Health Fund" %>
          <%= f.text_field :private_health_fund, placeholder: "Leave blank if you don't have any" %>
        
      
      
          <strong>Check if you want to receive newsletter</strong>
          <label class="checkbox inline">
            <%= f.label "Yes" %>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= f.check_box(:newsletter, {}, "yes", "no") %>
          </label>
          
      
      <br/>
      
      <strong>Reference: </strong><br>
      <%= f.collection_check_boxes :reference_ids, Reference.all, :id, :name do |cb| %>
        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
      <% end %>
      
      <%= f.text_field :my_friend, placeholder: "Friend's name - Leave blank if you don't have any" %>
      <br><br>
      
      <strong>Preference: </strong><br>
      <%= f.collection_check_boxes :preference_ids, Preference.all, :id, :name do |cb| %>
        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
      <% end %>
      <br><br>
      
      <strong>Body area you want to skip: </strong><br>
      <%= f.collection_check_boxes :body_ids, Body.all, :id, :name do |cb| %>
        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
      <% end %>
      <br><br>
      
      <strong>Health Condition: </strong><br>
      <%= f.collection_check_boxes :health_ids, Health.all, :id, :name do |cb| %>
        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
      <% end %>
    
      <br><br>
      
      <%= f.label :past_medical_history %><br>
      <%= f.text_area :past_medical_history, rows: 5 %><br>
      
      <%= f.label :medication %><br>
      <%= f.text_area :medication, rows: 5 %><br>
      
      <%= f.label :symptoms %><br>
      <%= f.text_area :symptoms, rows: 5 %><br>
    
      <h3><strong>Terms and Condition</strong></h3>
        <strong>Arrival Time</strong>
        <p>Please arrive at least 10 minutes before your treatment. New clients will be asked to fill out a record form.</p>
        
        <strong>Arriving Late</strong>
        <p>All treatments conclude at the scheduled time.</p>
        
        <strong>Cancellation Policy</strong>
        <p>When you reschedule or cancel an appointment, we require 24 hours notice; cancellation without notice will incur a cancellation fee of $30. 
        Confirmation of an appointment is acknowledgement of this cancellation policy.</p>
        
        <strong>Instant Private Health Fund Rebates</strong>
        <p>Instantly claim rebates with your private health fund on HICAPS.</p>
        
        <strong>Disclaimer: </strong>
        <p>Myotherapy and Remedial Massage aims to relieve the build up of muscle tension within the body. Stable Massage & Stable Health Clinic 
        does not take responsibility for any symptoms or aches which may occur after treatment.</p>
      <label class="checkbox inline">
        <%= f.label "I agree with terms and conditions" %>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.check_box :terms %>
      </label>
      <br>
      
      <%= f.submit(@enrollment.new_record? ? 'Submit' : 'Edit Enrollment', class: "btn btn-success") %>
      
    <% end %> 
  </div>
</div><br><br><br><br><br><br>
