<%= render 'shared/page_title', title: "Clients' History" %>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Enrollments", enrollments_path %>
  </li>
  <li>
    <%= link_to "Clients", clients_path %>
  </li>
</ul>

<%= will_paginate %>

<% @enrollments.each do |enrollment| %>
  <div class="row">
    
    <div class="col-md-4">
      <section class="client_info center">
        <%= link_to gravatar_for(enrollment.client, size: 100), client_path(enrollment.client) %>
                <h5>User name: <%= enrollment.client.clientname %></h5>
        
        
      </section>
    </div>
    

    <div class="col-lg-4 well">
      <h4><%= link_to enrollment.name, enrollment_path(enrollment) %></h4>
      
      <p><strong>Address:</strong> <%= enrollment.address %></p>
      <p><strong>Suburb:</strong> <%= enrollment.suburb %></p>
      <p><strong>Preference:</strong> <%= render enrollment.preferences %></p>
      <p><strong>Reference:</strong> <%= render enrollment.references %></p>
      
      <p> 
        
        <span class='quiet'><small> Updated: <%= time_ago_in_words(enrollment.updated_at) %> ago</small></span>
      </p>

    </div>
  </div>
  <hr/>
<% end %>

<%= will_paginate %>
<br><br><br><br/><br/>

