<%= render 'shared/page_title', title: "All Clients' Massage Enrollments" %>

<%= will_paginate %>

<% @enrollments.each do |enrollment| %>
  <div class="row">
    
    <div class="col-md-4">
      <section class="client_info center">
        <%= link_to gravatar_for(enrollment.client, size: 100), client_path(enrollment.client) %>
        <h5>Client name: <%= enrollment.client.clientname %></h5>
      </section>
    </div>
    

    <div class="col-lg-4 well">
      <h4><%= link_to enrollment.name, enrollment_path(enrollment) %></h4>
      
      <p><%= enrollment.address %></p>
      <p><%= enrollment.suburb %></p>
      
      <p>
        <span class='quiet'><small> Created: <%= time_ago_in_words(enrollment.created_at) %> ago, </small></span>
        <span class='quiet'><small> Updated: <%= time_ago_in_words(enrollment.updated_at) %> ago</small></span>
      </p>

    </div>
  </div>
  <hr/>
<% end %>

<%= will_paginate %>
<br><br><br><br/><br/>

